.side{
    width: 200px;
    background-color: black;
    height: 100vh;
    color: aliceblue;
    font-size: 20px;
    position: fixed;
}
.side a{
  color: aliceblue;
  text-decoration: none;
  
}
.side ul{
    padding: 35px;
    list-style: none;
}
.side li{
    margin: 15px;
    text-align: center;
}
.side a:hover{
    color: rgb(108, 108, 125);
}


